body {
  font-family: sans-serif;
}
.navbar {
  overflow: hidden;
  background-color: black;
}
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition: .3s;
}
.navbar a:hover {
  background-color: #666666;
  
.footer {
    width: 100%;
    background-color: #000000;
    padding: 60px 0px;
    position:fixed;
    height:50px;
    background:#999;
    
}
