body {
  font-family: sans-serif;
  text-align: center;
}
h1 {
  color: black;
  font-size: 60px;
}

.maina {
  text-decoration: none;
  color: blue;
}
.maina:hover {
  text-decoration: underline;
}

button {
  text-align: center;
  height: 50;
  width: 200;
  background-color: black;
  color: white;
  font-size: 14.5px;
  border-color: black;
  transition: .3s;
}
button:hover {
  background-color: white;
  color: black;
}

img {
  text-align: center;
}

.Photos{
  color: black;
  font-size: 60px;
}
.farm{
  height: 23%;
  width: 50%;
}

footer {
  width: 100%;
  height: 200px;
  background-color: #262626;
  color: #999999;
  bottom: -100000;
  padding: 0px;
}

footer a:hover {
  text-decoration: underline;
}

.footbr {
  line-height: 50%;
}

footer a {
  text-decoration: none;
  color: #ffffff;
  padding-right: 5px;
  padding-left: 5px;
}

.small {
  font-size: 5px;
  color: #ffffff;
  cursor: pointer;
}
