body {
  background-color: black;
}

button {
  background-color: white;
  border-style: none;
  height: 50px;
  width: 150px;
  font-size: 24px;
  text-align: center;
}

.space {
  color: white;
  font-size: 30px;
}
