body {
  font-family: sans-serif;
}

.contact_form {
  z-index: +1;
  top: 20px;
  text-align: left;
  margin-left: 30px;

}

.form_div {
  z-index: -1;
  background-color: #000000;
  opacity: .2;
  border-radius: 10px;
  height: 400px;
  width: 500px;
  position: absolute;
  margin-left: 10px;

}

.submitB {
  text-align: center;
  border-decoration: none;
  color: #000000;
  background-color: #ffffff;
  border-radius: 5px;
  height: 30px;
  width: 100px;
}

.submitB:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.formT {
  color: #000000;
  position: relative;
  top: 10px;
}

.text_monitor {
  z-index: +2;
}

.current_person {
  font-weight: bold;
}

.omund_text {
  font-weight: bold;
}

.welcome {
  width: 700px;
  height: 500px;
  background-color: #000000;
  opacity: .7;
  position: fixed;
  top: 50px;
  border-radius: 10px;
  right: 25%;
  display: none;
}
.welcome_h {
  color: #ffffff;
}

.welcome_p {
  color: #ffffff;
}

.welcome_monitor {
  z-index: +1;
  color: #ffffff;
}
